In [1]:
from dask.distributed import Client
client = Client()
client

In [4]:
import dask.array as da

In [5]:
x = da.ones(15, chunks=(5,))

In [6]:
x

dask.array<ones, shape=(15,), dtype=float64, chunksize=(5,), chunktype=numpy.ndarray>

In [8]:
x.sum().compute()

15.0

In [9]:
x = da.ones((10000,10000), chunks=(1000,1000))

In [10]:
x

dask.array<ones, shape=(10000, 10000), dtype=float64, chunksize=(1000, 1000), chunktype=numpy.ndarray>

In [11]:
result = x.sum()

In [13]:
result.compute()

100000000.0

In [14]:
import numpy as np

In [15]:
x = da.random.normal(10, 0.1, size=(20000,20000),
                    chunks=(1000,1000))

In [16]:
y = x.mean(axis=0)[::100]

In [17]:
x.nbytes/1e9

3.2

In [18]:
%%time
y.compute()

CPU times: user 1.54 s, sys: 144 ms, total: 1.68 s
Wall time: 3.12 s

array([ 9.99959449, 10.00079653, 10.00058108,  9.99989377,  9.99991159,
       10.00017751,  9.99906534,  9.99930171, 10.00143447,  9.99943438,
       10.00067345,  9.99830253, 10.00023802,  9.99991614, 10.00061298,
       10.00105099,  9.99937284,  9.9993236 ,  9.99985172, 10.00017553,
        9.99977894, 10.00049078, 10.00054465,  9.99983255,  9.99918345,
        9.99945599,  9.99920265,  9.99902811,  9.99996696,  9.99971714,
        9.99969082,  9.99914346,  9.99898082, 10.00042564, 10.00131699,
       10.00013696, 10.0005113 ,  9.9996072 , 10.00055963,  9.99962889,
        9.9993771 , 10.00049486,  9.99929664, 10.0009291 ,  9.99983706,
        9.99953862,  9.99995815,  9.99970111, 10.00066027,  9.99993821,
        9.99947152,  9.99855148, 10.00024   ,  9.99976136, 10.00037704,
       10.00033584, 10.00051841, 10.00153885,  9.99988822, 10.00069045,
       10.00154127,  9.9998281 , 10.00023884, 10.0005858 , 10.00014215,
       10.00062254,  9.99992453,  9.99993106,  9.99971008, 10.00028807,
       10.00052583,  9.99956165,  9.99916076,  9.99989995, 10.00013677,
       10.00043296, 10.00046568, 10.00036681,  9.99965496, 10.00013581,
       10.00020718,  9.99999197,  9.999832  ,  9.99946   , 10.00148764,
       10.00014589, 10.00047135, 10.00025732, 10.00108569, 10.00023093,
        9.99980126, 10.00016839, 10.00038195, 10.00112022, 10.0003719 ,
       10.00076469,  9.99915608,  9.99936083, 10.0001261 , 10.00095677,
        9.99959774, 10.00053628, 10.00055421, 10.0002361 , 10.00018041,
        9.99983512,  9.99997369, 10.00076192, 10.00016819,  9.99905351,
       10.00076214,  9.99941344,  9.99979835, 10.00035384, 10.00018709,
        9.9987604 ,  9.99983269, 10.00092805, 10.00023935,  9.99923644,
        9.99955331,  9.99939553, 10.00014275, 10.00017169, 10.00060239,
       10.00036962,  9.99897611, 10.00171799,  9.99917721,  9.99871865,
        9.99964018,  9.99922019,  9.99953381,  9.99937209, 10.00144962,
       10.00054822, 10.00086163, 10.00011307,  9.9989508 , 10.00030379,
        9.99975185,  9.99954297,  9.99804531, 10.00177812,  9.99906105,
        9.99989069, 10.00157884,  9.99905009, 10.00016451,  9.9994696 ,
        9.99929203,  9.99974125,  9.99976619,  9.99963286, 10.00096437,
       10.00114165, 10.00008616, 10.00092618, 10.0006262 , 10.00031633,
       10.00141975, 10.00030905,  9.99953499,  9.9997584 ,  9.99898272,
        9.99952356,  9.99969175,  9.99936162, 10.00066811,  9.9981041 ,
       10.00106117,  9.99867423,  9.99928114,  9.9988154 , 10.00002302,
        9.99993411, 10.00048866,  9.99921379, 10.00089994,  9.99963656,
       10.00083855,  9.99968999, 10.00012926, 10.0005648 , 10.00015673,
       10.00074606,  9.99984015, 10.00081546, 10.00102979, 10.00021818,
       10.00048307, 10.00008133, 10.00026936, 10.00093471,  9.99934385,
       10.00014056,  9.99993047, 10.0007468 , 10.00006731,  9.99992711])